html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: env(safe-area-inset);
}

body {
  /* background-color: var(--bg);
  color: var(--text); */
  @apply transition-colors duration-200 ease-in-out;
}

.mapboxgl-map {
  @apply border border-gray-400 rounded-btn border-solid;
}

address {
  @apply not-italic;
}

p {
  @apply leading-5;
}

main {
  @apply mt-10;
}
